@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Quicksand", serif;
    box-sizing: border-box;
}
/* Header Area */
header#header {
    display: flex;
    justify-content: center;
    padding: 0 10px;
}
.header_container {
    display: flex;
    justify-content: space-between;
    width: 1180px;
    align-items: center;
    margin-top: 20px;
}
.iteam.logo_area {
    display: flex;
    align-items: center;
}
img.logo_img {
    width: 50px;
}

h1.logo_text {
    font-size: 32px;
}

li {
    list-style: none;
}
ul {
    display: flex;
    gap: 10px;
}

button.primary_btn {
    background-color: rgb(254, 163, 1);
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
}
.orange{
    color: rgb(254, 163, 1);
}
.skyblue{
    color: skyblue;
}
.skyblue1{
    color: rgb(5, 212, 223);
}
.admission{
    color: rgb(93, 88, 239);
}
.menu_icon {
    display: none;
}

.menu_iteam {
    text-decoration: none;
    font-weight: 600;
}

/* Headwer Responsive Css */


@media screen and (max-width: 576px) {
    .menu_icon {
        display: block;
    }
    .btn_area, .menu_area{
        display: none;
    }
}
/* Header Area End */


/* Hero Section */
section#hero {
    display: flex;
    justify-content: center;
}
.hero_container {
    display: flex;
    justify-content: space-between;
    width: 1180px;
    align-items: center;
    padding: 0 10px;
}

p.hero_des {
    margin: 18px 0;
}
.hero_title{
    font-size: 50px;
}

button.hero_button {
    padding: 10px 20px;
    border: none;
}

button.hero_button {
    padding: 10px 30px;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    color: #ffffff;
    background-color: #000000;
}

/* Hero Responsive code */
@media screen and (max-width: 576px) {
    .hero_container {
        flex-direction: column;
        display: flex ;
        justify-content: flex-start !important;
    }
    .content{
        order: 2;
    }
}
/* Hero Section End */